<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="no-cache" http-equiv="pragma"/>
    <meta content="no-cache, must-revalidate" http-equiv="content-type"/>
    <meta content="Wed, 26 Feb 1997 08:21:57 GMT" http-equiv="expires"/>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>个人信息</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/nav.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/element/index.css" rel="stylesheet">
    <link href="../css/hsg.css" rel="stylesheet">
</head>
<body>
<div id="wrapper" v-cloak>
    <div>
        <div style="padding: 0 20px">
            <div>
                <div style="color: #666; font-weight: bold; border-bottom: 1px solid #ccc; padding: 10px 0; margin-bottom: 20px; font-size: 30px;">
                    修改个人信息
                </div>
            </div>

            <div style="margin-top: 10px">
                <div style="border: 1px solid #ff6b31;">
                    <div style="padding: 5px; border-bottom: 1px solid #ff6b31; color: white; background-color: #ff6b31;">
                        修改个人信息
                    </div>
                    <div style="border: 1px solid #ccc; padding: 10px">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal">
                                    <input type="hidden" v-model="entity.id">
                                    <div class="form-group"><label class="col-sm-3 control-label">用户名</label>
                                        <div class="col-sm-7"><input class="form-control" id="yonghuming"
                                                                     placeholder="请输入用户名" style="width: 160px"
                                                                     type="text" v-model="entity.yonghuming"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-3 control-label">密码</label>
                                        <div class="col-sm-7"><input class="form-control" id="mima"
                                                                     placeholder="请输入密码" style="width: 160px"
                                                                     type="text" v-model="entity.mima"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-3 control-label">姓名</label>
                                        <div class="col-sm-7"><input class="form-control" id="xingming"
                                                                     placeholder="请输入姓名" style="width: 160px"
                                                                     type="text" v-model="entity.xingming"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-3 control-label">性别</label>
                                        <div class="col-sm-7"><select class="form-control" v-model="entity.xingbie">
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-3 control-label">出生日期</label>
                                        <div class="col-sm-7"><input class="form-control" id="chushengriqi"
                                                                     placeholder="请输入出生日期" style="width: 160px"
                                                                     type="text" v-model="entity.chushengriqi">
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-3 control-label">手机</label>
                                        <div class="col-sm-7"><input class="form-control" id="shouji"
                                                                     placeholder="请输入手机" style="width: 160px"
                                                                     type="text" v-model="entity.shouji"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-3 control-label">身份证</label>
                                        <div class="col-sm-7"><input class="form-control" id="shenfenzheng"
                                                                     placeholder="请输入身份证" style="width: 160px"
                                                                     type="text" v-model="entity.shenfenzheng"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-3 control-label">头像</label>
                                        <div class="col-sm-7">
                                            <el-upload :before-upload="touxiangbaul" :on-success="touxiangsccs"
                                                       :show-file-list="false" action="/files/upload"
                                                       class="avatar-uploader"><img :src="touxiangimrl"
                                                                                          class="avatar"
                                                                                          v-if="touxiangimrl"><img
                                                    :src="'/files/download/'+touxiangavt" class="avatar"
                                                    v-else-if="touxiangavt"> <i class="el-icon-plus avatar-uploader-icon"
                                                                       v-else></i>
                                            </el-upload>
                                        </div>
                                    </div>

                                </form>
                                <div style="text-align: center">
                                    <button class="btn btn-primary" type="button" v-on:click="update()">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/element/index.js"></script>

<script>
    function checkValid(entity) {
        if (!entity.yonghuming || entity.yonghuming === "") {
            alert("用户名不能为空");
            return false;
        }
        if (!entity.xingming || entity.xingming === "") {
            alert("姓名不能为空");
            return false;
        }
        if (entity.shenfenzheng && entity.shenfenzheng !== "") {
            let reg = /^\d{15}$|^\d{18}$|^\d{17}[xX]$/;
            if (!reg.test(entity.shenfenzheng)) {
                alert("请输入正确的身份证");
                return false;
            }
        }

        return true;
    }

    new Vue({
        el: '#wrapper',
        data: {
            authority: [],
            permission: [],
            storeUser: JSON.parse(localStorage.getItem("user")),
            // gonghao: '',
            //xingming:'',
            user: {},

            touxiangimrl: '',
//youtupianimrl			
            objs: [],
            pageInfo: {},
            preActive: true,
            nextActive: true,
            touxiangavt: null,
//youtupianavt			
            //youxia2sui
            //youxxiabiaoxduan
            entity: {}
        },
        created: function () {
            this.loadData();
            axios.get("/authority").then(res => {
                if (res.data.code === '0') {
                    this.authority = res.data.data;
                } else {
                    msg('error', res.data.msg);
                }
            });

            this.user = JSON.parse(localStorage.getItem('user'));
            //youcreatexia2sui
            //youffxiaxbiaoxduan

        },

        methods: {
            loadData() {
                axios.get("/getAccountInfo").then(res => {
                    if (res.data.code === '0') {
                        this.entity = res.data.data;
                        if (this.entity.touxiang) {
                            this.touxiangavt = JSON.parse(this.entity.touxiang)[0];
                        }
                        //tupianloadtb
                    } else {
                        msg('error', res.data.msg);
                    }
                });

            },

            update() {
                if (checkValid(this.entity)) {
                    axios.put(
                        "/yonghuxinxiInfo", this.entity
                    ).then(res => {
                        if (res.data.code === '0') {
                            msg('success', '更新成功');
                            this.loadData();
                        } else {
                            msg('error', res.data.msg);
                        }
                    })
                }
            },
            touxiangsccs(res, file) {
                this.touxiangimrl = URL.createObjectURL(file.raw);
                this.entity.touxiangflst.push(res.data.id);
                this.touxiangavt = res.data.id
            },
            touxiangbaul(file) {
                this.entity.touxiangflst = [];
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2000MB!');
                }
                return isJPG && isLt2M;
            },
            //m_tupiansccsbaul
            //logout() {
            //    logout();
            //}
        }
    })
</script>
</body>
</html>
